name: CI

on:
  push:
    branches:
      - main
      - next
      - "v*"
    paths-ignore:
      - "docs/**"
      - "*.md"
  pull_request:
    paths-ignore:
      - "docs/**"
      - "*.md"

permissions:
  contents: read

jobs:
  test:
    permissions:
      contents: write
      pull-requests: write
    uses: fastify/workflows/.github/workflows/plugins-ci.yml@468d8888bf5527cb3843341f6e027d81a8b314f2 # v5
    with:
      lint: true
